.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
    margin-bottom: 15px;
}

.cartItem__img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cartItem__detail {
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
}

@media(max-width:771px) {
    .search {
        display: none !important;
    }
}